@import '@common/styles/index.scss';
.root{
    background: #fff;
    .list{
        .listItem{
            font-size: 14px;
            line-height: 24px;
            text-align: left;
            color: $text-color-primary;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid var(--border-line-color) ;
            line-height: 60px;
            .left{
                .red{
                    color: $error-color;
                    display: inline-block;
                }
            }
        }
    }
}