@import '@common/styles/index.scss';

@mixin listItem {
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
}
.wrap {
  padding: $padding-6n 0;
}
.header {
  padding: $padding-2n $padding-4n;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: #F5F7F8;
  line-height: 20px;
  span {
    @include listItem;
    color: #4f5a70;
  }
}

.ranking {
  @include listItem;
  width: 28px;
}
.nickname {
  @include listItem;
  width: 144px;
  .avatar {
    width: 38px;
    height: 38px;
  }
  span {
    margin-left: $margin-2n;
  }
}
.user__amount {
  @include listItem;
  width: 70px;
}
.money {
  @include listItem;
  width: 98px;
}


.list {
  border-bottom: $border-solid-1;
  &:last-child {
    border-bottom: none;
  }
  .list__item {
    padding: $padding-2n $padding-4n;
    display: flex;
    justify-content: space-between;
    line-height: 38px;
  }
  .nickname {
    display: flex;
  }
  span {
    @include text-ellipsis;
    color: #0b0b37;
  }
  .money {
    font-weight: 600;
    font-size: 16px;
    color: #E02433;
  }
  .user__amount {
  }
}
