@import '@common/styles/index.scss';

@mixin header_wrap {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}
@mixin header_number {
  flex: 1;
  text-align: center;
  line-height: 28px;
  padding-bottom: $padding-2n;
  font-size: $font-size-large;
  font-weight: $font-weight-regular;
  color: $text-color-primary;
}
@mixin header_text {
  flex: 1;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: $text-color-secondary;
}

.wrap {
  background-color: $body-bg-color;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  padding: $padding-6n 0;
  box-sizing: border-box;
  background-color: $white;
  border-top: $border-solid-1;
  border-bottom: 10px solid $body-bg-color;
}
.totalRevenue {
  @include header_wrap;
  .totalRevenue__money {
    @include header_number;
  }
}
.totalShare {
  @include header_wrap;
  .totalRevenue__text {
    @include header_text;
    &:first-child {
      border-right: $border-solid-1;
    }
  }
}
.rankingList {
  background-color: $white;
  flex: 1;
}
.rankingList__header {
  padding: 0 $padding-4n;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  border-bottom: $border-solid-1;
  .rankingList__navigation {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #4f5a70;
    position: relative;
    padding: $padding-4n 0;
    .rankingList__underline {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #2469F6;
      bottom: 0;
      left: 0;
    }
  }
  .rankingList__select {
    font-weight: $font-weight-regular;
    color: #2469f6;
  }
}
.refreshView {
  min-height: rem(40);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem($font-size-primary);
  color: $text-color-placeholder;
  padding: rem(11) 0 $padding-5;
  line-height: rem($font-line-height-small);
  width: 100%;
  .lineSty {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .noMoreLeft{
    background-color: #e5e5e5;
    width: rem(79);
    height: rem(1);
    float: left;
    margin-right: rem($margin-4n);
  }
  .noMoreRight{
    background-color: #e5e5e5;
    width: rem(79);
    height: rem(1);
    float: right;
    margin-left: rem($margin-4n);
  }
}
