@import '@common/styles/index.scss';

.dividerContainer {
  padding-bottom: rem(18);
}

.dividerBottom {
  border-bottom: 1px solid $border-color;
}

.popoverBox {
  margin-bottom: rem(12);
  margin-top: rem(4);
  .popoverContent {
    line-height: rem(19);
    text-align: left;
    color: $text-color-regular;
    font-size: $font-size-small;
  }
  .popoverText {
    color: #8490a8;
    padding-right: rem(4);
    font-size: $font-size-small;
    .active {
      color: $primary-color;
    }
  }
}



.pc {
  .dividerContainer {
    margin-left: $margin-6n;
    margin-right: $margin-6n;
  }
  .threadHeader {
    padding: 0 $padding-6n;
  }
}
.h5 {
  .dividerContainer {
    margin-left: $margin-4n;
    margin-right: $margin-4n;
  }
  .threadHeader {
    padding: 0 $padding-4n;
  }
}
