@import '@common/styles/index.scss';

.layout {
  background-color: white;
}

.dividerContainer {
  padding-left: $padding-4n;
  padding-right: $padding-4n;
  padding-bottom: rem(18);
}
.popoverBox {
  margin-bottom: rem(12);
  margin-top: rem(4);
  .popoverContent {
    line-height: rem(19);
    text-align: left;
    color: $text-color-regular;
    font-size: $font-size-small;
  }
  .popoverText {
    color: #8490a8;
    padding-right: rem(4);
    font-size: $font-size-small;
    .active {
      color: #2469f6;
    }
  }
}
.sectionTitle {
  font-weight: 600;
  font-size: rem(16);
  line-height: rem(22);
  color: #4f5a70;
  padding: rem(16) 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
