@import '@common/styles/index.scss';

.mobileLayout {
  background: $white;
}

.unit {
  &::before {
    content: '';
    display: block;
    height: 10px;
    background: $spacer-bg-color;
  }
}

.dividerContainer {
  background: $white;
  border-radius: rem($border-radius-small);
  padding-bottom: rem(18);
  .sectionContainer {
    padding-left: $padding-6n;
    padding-right: $padding-6n;
  }
  .threadContainer {
    padding-left: $padding-2n;
    padding-right: $padding-2n;
  }
}

.sectionTitle {
  font-weight: 600;
  font-size: rem(16);
  line-height: rem(22);
  color: #4f5a70;
  padding: rem(16) 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.backBox {
  display: inline-flex;
  align-items: center;
  margin-top: $margin-6n;
  text-decoration: none;
  padding-left: $padding-4n;
  padding-right: $padding-4n;
  
  .backText {
    color: $text-color-secondary;
    padding-left: rem(8);
    height: rem(16);
    line-height: rem(16);
  }
}
.dataSourceContainer {
  margin-top: $margin-10;
}
