@import '@common/styles/index.scss';

.root{
    background-color: #fff;
    width: 100%;
    .top{
        padding:20px;
        border-bottom: 10px solid #f4f6f7;
        .guafen{
            height: 60px;
            border-radius: 5px;
            background: #fff9e5;
            font-size: 16px;
            line-height: 24px;
            text-align: left;
            color: $text-color-primary;
            display: flex;
            align-items: center;
            justify-content: center;
            .red{
                font-weight: 600;
                font-size: 20px;
                line-height: 16.8px;
                text-align: left;
                color: $error-color;
                margin:0 8px;
                display: inline-block;
            }
        }
        .yiqiang{
            font-size: 14px;
            line-height: 24px;
            text-align: left;
            color: $text-color-primary;
            margin: 10px 0;
            text-align: center;
            .red{
                color:$error-color;
                margin:0 5px;
                display: inline-block;
            }
        }
        .avatar{
            display:block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 10px auto;
        }
        .yifen{
            font-size: 14px;
            line-height: 24px;
            color: #0b0b37;
            text-align: center;
        }
        .zaiyao{
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: $error-color;
        }
        .shareBtn{
            text-align: center;
            margin-top: 20px;
            >button{
                width:114px;
            }
        }
    }

    .bottom{
        padding: 0 20px 20px;
        :global{
            .dzq-tabs__bar.is-card{
                box-shadow: none;
                border-bottom: 1px solid var(--border-line-color) ;
            }
            .dzq-tabs__list{
                justify-content: space-around;
            }
        }

        .rule{
            font-size: 14px;
            line-height: 24px;
            text-align: left;
            color: $text-color-primary;
            text-align: center;
            margin: 20px 0;
        }
    }
}